h1{
    font-size: 90px;
    margin-top: 210px;
    text-align: center;
}
h1 span:nth-child(1){
    color:#537fbc;
}
h1 span:nth-child(2){
    color:#e24330;
}
span:nth-child(3){
    color:#f3c60c;
}
span:nth-child(4){
    color:#537fbc;
}
span:nth-child(5){
    color:#1ba44d;
}
span:nth-child(6){
    color:#e24330;
}
.search-bar{
    width:500px;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }